.am-u-sm-12 {
    width: 100%;
}
.am-u-md-12 {
    width: 100%;
}
.am-g {
    margin: 0 auto;
    width: 100%;
}
.am-margin-vertical-xs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.am-u-md-6 {
    width: 50%;
}
.am-u-md-push-3 {
    left: 25%;
}
.am-form-field {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #555555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-appearance: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.am-u-md-2 {
    width: 16.66666667%;
}
.am-form-inline .am-input-group {
    display: inline-table;
    vertical-align: middle;
}
.am-input-group-sm > .am-form-field,
.am-input-group-sm > .am-input-group-label,
.am-input-group-sm > .am-input-group-btn > .am-btn {
    height: 33px;
    font-size: 1.4rem !important;
}
.am-input-group-sm > .am-input-group-label {
    line-height: 31px;
}
.am-form-help {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #999999;
    font-size: 1.3rem;
}
.am-u-md-pull-3 {
    right: 25%;
}
.am-btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.5em 1em;
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.am-btn-default {
    color: #444;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.am-btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}